*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom,#Afd4d0,#394bc3);

 }

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
    padding: 5%;
}

.calendar{
    width: 45rem;
    height: 52rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(255, 251, 251, 0.932);;
}

.month{
    width: 100%;
    height: 12rem;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);

}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }

  .month p {
    font-size: 1.6rem;
  }

  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }

  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }

  .days{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0.2rem;
  }

  .days div{
      font-size: 1.4rem;
      margin: 0.3rem;
      width: calc(40.2rem/7);
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      transition: background-color 0.3s ease ;
   }

   .days div.active{
      
      font-size: 1.7rem;
      background: #B561dc
   }

   .days div:hover:not(.today){
    background-color: #e7e6e6;
    border: 0.2rem solid rgb(206, 90, 90);
    cursor: pointer;
  }
   
   .prev-date, .next-date{
       opacity: 0.6;
   }

   .today{
       background-color: crimson;
   }

.wrapper-0{
    display: grid;
    grid-row-gap: 20px;
 grid-template-columns: 1fr;
 grid-template-rows: repeat(4,1fr );
 
}

/* to-do list styling*/
   .wrapper-1{
    background: #fff;
    grid-column: 1/-1;
    grid-row: 2;  
    
     padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    display:none ;
  }
  .wrapper-1 header{
    font-size: 30px;
    font-weight: 500;
  }
  .wrapper-1 .input-field{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
  }
  .input-field input{
    width: 85%;
    height: 100%;
    border: 1px solid #ccc ;
    border-radius: 3px;
    font-size: 17px;
    padding: 10px;
  
  }
  
  .input-field button{
    height: 100%;
    width:50px;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #B561dc ;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
  }
  
  
  
  .input-field button.active{
    opacity: 1;
    pointer-events: auto;
  }
  .wrapper-1 .todo-list{
    max-height: 150px;
    overflow-y: auto;
  }
  .todo-list li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #Eae6e4;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
  }
   .todo-list li span{
    position: absolute;
    right: -45px;
    background: rgb(226, 40, 77);
    color: #fff;
    width: 45px;
    text-align: center;
    border-radius: 0 3px  3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
   }
   .todo-list li:hover span{
    right: 0px;
   }
    footer{
     display: flex;
     width: 100%;
     margin-top: 20px;
    justify-content: space-between;
    align-items: center;
   }
  
   footer button{
    
    border: none;
    border-radius: 3px;
    outline: none;
    background: #B561dc ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
   padding: 6px 10px;
   pointer-events: none;
   opacity: 0.6;
   
  }
  
  footer button.active{
  opacity:1;
  pointer-events: auto;
  }
   
  .wrapper-2{
   grid-column: 1/-1;
   grid-row: 1/2;
   height: 100px;
  width: 360px;

   position: relative;
 cursor: default;
    
    background:linear-gradient(135deg,#14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
   animation: animate 1.5s linear infinite;
  }

  .wrapper-2 .display,
  .wrapper-2 span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .wrapper-2 .display{
    
    z-index: 999;
    background: #1b1b1b;;
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
  }

  .display #time{
    line-height: 85px;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(135deg,#14ffe9, #ffeb3b, #ff00e0);
    background-clip: text;
    -webkit-background-clip: text ;
    color: transparent;
    animation: animate 1.5s linear infinite;
    letter-spacing: 1px;
  }

  @keyframes animate {
      100%{
        filter: hue-rotate(360deg);
      }
  }

  .wrapper-2 span{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
  }

  .wrapper-2 span:first-child{
    filter: blur(10px);
  }
  .wrapper-2 span:last-child{
    filter: blur(20px);
  }
